[submodule "themes/theme"]
	path = themes/theme
	url = https://github.com/stichtingvoelspriet/theme.git
[submodule "public"]
	path = public
	url = https://github.com/stichtingvoelspriet/stichtingvoelspriet.github.io.git
